<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/prism.css" />
    <link rel="stylesheet" href="/css/quizz.css" />
    <script src="/js/prism.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>vim-quiz</h1>
      <div class="row">
      </div>
      <div class="row">
        <pre>
          <code class="rust">
            {{{card.code}}}
          </code>
        </pre>
      </div>
      <div class="row">
        <p>{{{card.question}}}</p>
      </div>
      <div class="row">
        {{#each card.answer}}
          <div class="col-md-6">
            <p><strong>{{{this.name}}}</strong> - {{this.description}}</p>
          </div>
        {{/each}}
      </div>
      <div class="row">
        <p>{{{card.explanation}}}</p>
    </div>
  </body>
</html>